$primary-purple: #a71aae;
$primary-blue: #233cb8;
$primary-gradient: linear-gradient(
                $primary-blue 0%,
                $primary-purple 100%
);
$primary: $primary-blue;

.bg-primary {
  background: linear-gradient(0deg, $primary-blue 0%, $primary-purple 100%) !important;
}

.nav-item .active {
  background: $primary-gradient !important;
}

.btn-primary {
  background: $primary-gradient !important;
  border: none !important;
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../Public/Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/Public/Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("/Public/Fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

body {
  font-family: "Poppins", 'sans-serif' !important;
}

.devices {
  grid-template-columns: 1fr;
}

.dashboard-svg {
  box-shadow: 0 5px 45px 0 rgba(255, 255, 255, 0.05);
}

.hero {
  padding: 50px 0;
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";

.backdrop-blur {
  background-color: rgba($dark-bg-subtle-dark, .95);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba($dark-bg-subtle-dark, .75);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}

.device-card-top {
  border-radius: 1em 1em 0 0 !important;
}

.device-card-bottom {
  border-radius: 0 0 1em 1em !important;
}

.device-image-ac {
  background-image: url('/Public/Images/AC.webp');
}

.device-image-gate {
  background-image: url('/Public/Images/Gate.webp');
}

.device-image-light {
  background-image: url('/Public/Images/Light.webp');
}

.device-image {
  background-size: cover;
  background-position: top;
  overflow: hidden;
  min-height: 200px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba($dark-bg-subtle-dark, 0.95) 0%, rgba($gray-800, 0.5) 100%);
    width: 100%;
    height: 100%;
  }
}

.section-padding {
  padding: 50px 0;
}

.hero-image {
  padding-bottom: 100px;
}

@include media-breakpoint-up(md) {
  .section-padding {
    padding: 100px 0;
  }

  .hero-image {
    padding-bottom: 200px;
  }
}

@include media-breakpoint-up(lg) {
  .devices {
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    padding: 100px 0;
  }

  .device-card-top {
    border-radius: 1em 0 0 1em !important;
  }

  .device-card-bottom {
    border-radius: 0 1em 1em 0 !important;
  }
}

@include media-breakpoint-up(xl) {
  .devices {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


